// sass/_html.scss

html {
    overflow-y: scroll;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    // https://ics.media/entry/200317/
    font-family:
        "Helvetica Neue",
        Arial,
        "Hiragino Sans",
        "Hiragino Kaku Gothic ProN",
        Meiryo,
        sans-serif;
}

h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: var(--link-color);
}

p {
    margin: 0;
}
