// sass/_themes.scss

// https://alexandersandberg.com/articles/creating-a-website-theme-switcher-with-css-only/

:root {
    /* Light mode */
    --light-theme: #FFECB3;
    --light-text: #212121;
    --light-link: #0f83fd;
    --light-bg: ivory;
    --light-shadow: #333333;
    --light-btn-hover: #2121211A;
    --light-btn-active: #21212133;
    --light-ogp: #FFF8E1;
    --light-ogp-hover: #fef6db;
    --light-ogp-active: #fdf2cf;;
    --light-ogp-border: #FFB300;

    /* Dark mode */
    --dark-theme: #664C00;
    --dark-text: #f7f7f7;
    --dark-link: #80bbff;
    --dark-bg: #222430;
    --dark-shadow: #000;
    --dark-btn-hover: #f7f7f74D;
    --dark-btn-active: #f7f7f780;
    --dark-ogp: #3c405d;
    --dark-ogp-hover: #323652;
    --dark-ogp-active: #242844;
    --dark-ogp-border: #FFECB3;

    /* Default mode */
    --text-color: var(--light-text);
    --link-color: var(--light-link);
    --bg-color: var(--light-bg);
    --theme-color: var(--light-theme);
    --shadow-color: var(--light-shadow);
    --btn-hover-color: var(--light-btn-hover);
    --btn-active-color: var(--light-btn-active);
    --ogp-color: var(--light-ogp);
    --ogp-hover-color: var(--light-ogp-hover);
    --ogp-active-color: var(--light-ogp-active);
    --ogp-border-color: var(--light-ogp-border);
}

/* Switched mode */
#theme-switch-checkbox:checked~#page {
    --text-color: var(--dark-text);
    --link-color: var(--dark-link);
    --bg-color: var(--dark-bg);
    --theme-color: var(--dark-theme);
    --shadow-color: var(--dark-shadow);
    --btn-hover-color: var(--dark-btn-hover);
    --btn-active-color: var(--dark-btn-active);
    --ogp-color: var(--dark-ogp);
    --ogp-hover-color: var(--dark-ogp-hover);
    --ogp-active-color: var(--dark-ogp-active);
    --ogp-border-color: var(--dark-ogp-border);
}
