// sass/_utils.scss

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    padding: 0 10px;

    @include mq(lg) {
        padding: 0;
    }
}

a:focus {
    outline: none;
}
