// sass/_vars.scss

$default-padding: 15px;
$default-margin: 7px;

$headerbar-height: 64px;

$header-btn-height: 44px;

$footerbar-min-height: 200px;
$footerbar-height-padding: 40px;

$content-margin-top: 30px;
$content-margin-bottom: 100px;

$btn-size: 44px;
$svg-icon-size: 36px;

$scroll-width: 16px;

$navigation-width: 260px;
$navigation-header-padding: 15px;
$navigation-page-link-width: 200px;
$navigation-page-link-height: 40px;
$navigation-page-link-padding-x: 100px;
$navigation-page-link-padding-y: 50px;

$ogp-card-size: 100px;
$ogp-card-size-sm: 150px;
$ogp-card-size-md: 200px;
