{# templates/layouts/base.html #}

{% if section and section.title -%}
{% set page_title = section.title ~ "- ぺるぺるのものづくり" -%}
{% elif page and page.title -%}
{% set page_title = page.title ~ "- ぺるぺるのものづくり" -%}
{% else -%}
{% set page_title = "ぺるぺるのものづくり" -%}
{% endif -%}

{% if section and section.extra.ogp_description -%}
{% set ogp_description = section.extra.ogp_description -%}
{% elif page and page.extra.ogp_description -%}
{% set ogp_description = page.extra.ogp_description -%}
{% else -%}
{% set ogp_description = "ぺるぺるのホームページです。ものづくりをしています。" -%}
{% endif -%}

{% if section and section.extra.ogp_image -%}
{% set ogp_image = section.extra.ogp_image -%}
{% elif page and page.extra.ogp_image -%}
{% set ogp_image = page.extra.ogp_image -%}
{% else -%}
{% set ogp_image = "https://pellpell.net/assets/pellpell.png" -%}
{% endif -%}

{% if section and section.path -%}
{% set path = "/" ~ section.path -%}
{% elif page and page.path -%}
{% set path = "/" ~ page.path -%}
{% else -%}
{% set path = "" -%}
{% endif -%}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="{{page_title | safe}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://pellpell.net{{path | safe}}" />
    <meta property="og:description" content="{{ogp_description | safe}}" />
    <meta property="og:image" content="{{ogp_image | safe}}" />

    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
    <link rel="stylesheet" href="/site.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png" />
    <link rel="manifest" href="/assets/site.webmanifest" />
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#ffc107" />

    <link href="/atom.xml" rel="alternate" type="application/atom+xml" />
    <title>{{page_title}}</title>
    {% block head_extensions %} {% endblock %}
</head>

<body>
    <input id="header-menu-checkbox" type="checkbox" />
    <input id="theme-switch-checkbox" type="checkbox" />
    <input id="close-navigationbar-checkbox" type="checkbox" />

    <div id="page">

        <div class="headerbar-container">
            <nav class="headerbar container">

                <label class="header-menu-btn svg-icon-btn" for="header-menu-checkbox">
                    <svg>
                        <use xlink:href="/assets/icons/hamberger.svg#hamberger" alt="menu button"></use>
                    </svg>
                </label>

                <a href="/" class="header-title">ぺるぺるのものづくり</a>

                <div class="header-right">
                    <a href="/" class="header-page-link">Home</a>
                    <a href="/about" class="header-page-link">About</a>
                    <a href="/news" class="header-page-link">News</a>
                    <a href="/works" class="header-page-link">Works</a>
                    <a href="/blog" class="header-page-link">Blog</a>

                    <label class="theme-switch svg-icon-btn switch-btn" for="theme-switch-checkbox">
                        <svg class="light-mode">
                            <use xlink:href="/assets/icons/light-mode.svg#light-mode" alt="theme switch"></use>
                        </svg>
                        <svg class="dark-mode">
                            <use xlink:href="/assets/icons/dark-mode.svg#dark-mode" alt="theme switch"></use>
                        </svg>
                    </label>
                </div>

            </nav>
        </div>

        <div class="navigationbar-container">
            <div class="navigationbar">
                <div class="navigationbar-header">

                    <p class="navigation-header-title">ぺるぺるのものづくり</p>

                    <label class="navigation-header-btn svg-icon-btn" for="close-navigationbar-checkbox">
                        <svg>
                            <use xlink:href="/assets/icons/close.svg#close" alt="close button"></use>
                        </svg>
                    </label>
                </div>

                <div class="navigation-items">
                    <ul>
                        <a href="/" class="navigation-page-link">Home</a>
                        <a href="/about" class="navigation-page-link">About</a>
                        <a href="/works/artwork" class="navigation-page-link">Artwork</a>
                        <a href="/works/music" class="navigation-page-link">Music</a>
                        <a href="/works/game" class="navigation-page-link">Game</a>
                        <a href="/works/cg" class="navigation-page-link">CG</a>
                        <a href="/blog" class="navigation-page-link">Blog</a>
                    </ul>
                </div>

            </div>
        </div>

        {% if page.extra.use_post or section.extra.use_post -%}
        <script type="text/javascript" src="/js/post_data.js"></script>
        {% endif -%}
        {% if page.extra.read_ogp or section.extra.read_ogp -%}
        <script type="text/javascript" src="/js/set_ogps.js"></script>
        {% endif -%}
        {% if page.extra.use_iframe or section.extra.use_iframe -%}
        <script type="text/javascript" defer src="/js/iframe.js"></script>
        {% endif -%}

        <section class="content-container">
            <div class="container" id="container">
                {% block content %} {% endblock %}
            </div>
        </section>

        <div class="footerbar-container">
            <nav class="footerbar container">

                <div class="footer-about-links-container">
                    <div class="footer-about">
                        <p>About</p>
                        <div class="footer-about-items">
                            <a href="/" class="footer-about-item">HOME</a>
                            <a href="/about" class="footer-about-item">ぺるぺるについて</a>
                        </div>
                    </div>
                    <div class="footer-links">
                        <p>Links</p>
                        <div class="footer-links-items">
                            <div class="footer-links-item"><a
                                    href="https://www.youtube.com/channel/UCuLSctBkDGqLELIJnrlQWcw" target="_blank"
                                    rel="noopener">youtube</a></div>
                            <div class="footer-links-item"><a href="https://twitter.com/pellpell__"
                                    class="footer-links-item" target="_blank" rel="noopener">twitter</a></div>
                            <div class="footer-links-item"><a href="https://www.instagram.com/pellpell96/"
                                    class="footer-links-item" target="_blank" rel="noopener">instagram</a></div>
                            <div class="footer-links-item"><a href="https://www.pixiv.net/users/81351754"
                                    class="footer-links-item" target="_blank" rel="noopener">pixiv</a></div>
                            <div class="footer-links-item"><a href="https://www.fanbox.cc/@pellpell"
                                    class="footer-links-item" target="_blank" rel="noopener">fanbox</a></div>
                            <div class="footer-links-item"><a href="https://www.nicovideo.jp/user/124598808"
                                    class="footer-links-item" target="_blank" rel="noopener">niconico</a></div>
                            <div class="footer-links-item"><a href="https://www.tiktok.com/@pellpell__"
                                    class="footer-links-item" target="_blank" rel="noopener">tiktok</a></div>
                            <div class="footer-links-item"><a href="https://soundcloud.com/zzqmqgmcqorm"
                                    class="footer-links-item" target="_blank" rel="noopener">soundcloud</a></div>
                        </div>
                    </div>
                </div>



                <div class="footer-legal-container">
                    <div class="footer-legal">
                        <a href="/policy" class="footer-legal-item">ポリシー</a>
                        <a href="/terms" class="footer-legal-item">利用規約</a>
                    </div>
                </div>

                <hr>

                <div class="footer-copyright">
                    <p>©PellPell 2022</p>
                </div>

            </nav>
        </div>

        <script>
            // ナビゲーションバーを閉じる
            document.addEventListener('click', (e) => {
                if (!e.target.closest('.navigationbar') && !e.target.closest('input')) {
                    document.getElementById("header-menu-checkbox").checked = false;
                }
            });
            document.getElementById("close-navigationbar-checkbox").addEventListener('click', (e) => {
                document.getElementById("header-menu-checkbox").checked = false;
            });

            // テーマ変更
            // https://alexandersandberg.com/articles/creating-a-website-theme-switcher-with-css-only/
            // This code is only used to remember theme selection
            const themeSwitch = document.getElementById("theme-switch-checkbox");
            themeSwitch.checked = localStorage.getItem('switchedTheme') === 'true';

            themeSwitch.addEventListener('change', function (e) {
                if (e.currentTarget.checked === true) {
                    // Add item to localstorage
                    localStorage.setItem('switchedTheme', 'true');
                } else {
                    // Remove item if theme is switched back to normal
                    localStorage.removeItem('switchedTheme');
                }
            });
        </script>
    </div>
</body>

</html>
