// sass/components/_artwork-section-card.scss

.artwork-section-cards {
    display: flex;
    flex-wrap: wrap;
}

.artwork-section-img {
    width: 100%;

    @include mq(sm) {
        width: 50%;
    }
}
