.content-container {
    min-height: calc(100vh - #{$headerbar-height} - #{$footerbar-min-height} - 2 * #{$footerbar-height-padding} - #{$content-margin-bottom} - #{$content-margin-top});
    margin-top: $content-margin-top;
    margin-bottom: $content-margin-bottom;
}
