// sass/components/_footerbar.scss

.footerbar-container {
    padding-top: $footerbar-height-padding;
    padding-bottom: $footerbar-height-padding;
    min-height: $footerbar-min-height;
    background-color: var(--theme-color);
}

.footer-about-links-container {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
}

.footer-about {
    flex: 1;
}

.footer-about-item {
    display: block;
}

.footer-links {
    flex: 1;
}

.footer-links-items {
    display: flex;
    flex-wrap: wrap;
}

.footer-links-item {
    width: 100%;

    @include mq(sm) {
        width: 50%;
    }

    @include mq(md) {
        width: 25%;
    }
}

.footer-legal-container {
    margin-top: 30px;
}

.footer-legal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-copyright {
    text-align: center;
}
