// sass/components/_headerbar.scss

.headerbar-container {
    width: 100%;
    background-color: var(--theme-color);
    margin: 0;
    filter: drop-shadow(0px 0px 5px var(--shadow-color));
}

.headerbar {
    display: flex;
    align-items: center;
    padding: 0 $default-padding;
    width: 100%;
    height: $headerbar-height;
}

.header-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 200;
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;

    @include mq(md) {
        font-size: 1.5rem;
    }
}

.header-menu-btn {
    margin-right: $default-margin;

    @include mq(md) {
        display: none !important;
    }
}

.theme-switch {
    margin: 0 calc(#{$scroll-width} + #{$default-margin});
}

.header-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    text-align: center;
}

.header-page-link, .header-page-link:visited, .header-page-link:link  {
    display: none;
    width: 100px;
    font-size: 1.2rem;
    color: var(--text-color);
    text-decoration: none;

    @include mq(md) {
        display: block;
    }
}

.header-page-link:hover {
    text-shadow: 0 0 3px var(--btn-hover-color);
}

.header-page-link:active {
    text-shadow: 0 0 3px var(--btn-active-color);
}
