// sass/components/_navigationbar.scss

.navigationbar {
    width: $navigation-width;
    text-align: center;
    height: 100vh;
    visibility: hidden;
    transition: .2s ease-in-out;
    position: absolute;
    left: calc(-#{$navigation-width});
    top: 0;
    filter: drop-shadow(0px 0px 5px var(--shadow-color));
    z-index: 1000;

    li {
        list-style: none;
    }
}

#header-menu-checkbox:checked~#page>.navigationbar-container>.navigationbar {
    left: 0;
    visibility: visible;
    background-color: var(--bg-color);

    @include mq(md) {
        left: calc(-#{$navigation-width});
    }
}

.navigationbar-header {
    display: flex;
    align-items: center;
    height: $headerbar-height;
    padding-left: $navigation-header-padding;
    background-color: var(--theme-color);
    box-shadow: 0px 5px 5px -5px var(--shadow-color);
}

.navigation-header-title {
    font-size: 1.1rem;
    font-weight: 200;
    cursor: pointer;
}

.navigation-header-btn {
    height: $header-btn-height;
    margin-left: auto;
    margin-right: $default-margin;

    img {
        height: 100%;
    }
}

.navigation-items {
    ul {
        width: $navigation-width;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
}

.navigation-page-link,
.navigation-page-link:visited,
.navigation-page-link:link {
    color: var(--text-color);
    text-decoration: none;
    display: block;
    margin: $default-margin;
    width: $navigation-page-link-width;
    height: $navigation-page-link-height;
    text-align: center;
    line-height: $navigation-page-link-height;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.navigation-page-link:hover {
    background-color: var(--btn-hover-color);
}

.navigation-page-link:active {
    background-color: var(--btn-active-color);
}
