// sass/components/_ogp-card.scss

.ogp-card {
    height: $ogp-card-size;
    position: relative;
    border-radius: 10px;
    background-color: var(--ogp-color);
    border: 1px solid var(--ogp-border-color);
    margin: 5px 0;

    @include mq(sm) {
        height: $ogp-card-size-sm;
    }

    @include mq(md) {
        height: $ogp-card-size-md;
    }

    &:hover {
        background-color: var(--ogp-hover-color);
    }

    &:active {
        background-color: var(--ogp-active-color);
    }
}

.ogp-image {
    position: absolute;
    left: 0;
    top: 0;
    width: $ogp-card-size;
    height: $ogp-card-size;
    object-fit: cover;
    border-radius: 10px 0 0 10px;

    @include mq(sm) {
        width: $ogp-card-size-sm;
        height: $ogp-card-size-sm;
    }

    @include mq(md) {
        width: $ogp-card-size-md;
        height: $ogp-card-size-md;
    }
}

.large-card-image {
    width: calc(#{$ogp-card-size} * (1200.0 / 630.0));

    @include mq(sm) {
        width: calc(#{$ogp-card-size-sm} * (1200.0 / 630.0));
    }

    @include mq(md) {
        width: calc(#{$ogp-card-size-md} * (1200.0 / 630.0));
    }
}

.ogp-text-container {
    position: absolute;
    left: $ogp-card-size;
    top: 0;
    padding: 5px;
    font-size: 0.8rem;

    @include mq(sm) {
        padding: 10px;
        left: $ogp-card-size-sm;
        font-size: 1.0rem;
    }

    @include mq(md) {
        padding: 15px;
        left: $ogp-card-size-md;
    }
}

.large-card-text-container {
    left: calc(#{$ogp-card-size} * (1200.0 / 630.0));
    width: calc(100% - #{$ogp-card-size} * (1200.0 / 630.0) - 10px);

    @include mq(sm) {
        left: calc(#{$ogp-card-size-sm} * (1200.0 / 630.0));
        width: calc(100% - #{$ogp-card-size-sm} * (1200.0 / 630.0) - 20px);
    }

    @include mq(md) {
        left: calc(#{$ogp-card-size-md} * (1200.0 / 630.0));
        width: calc(100% - #{$ogp-card-size-md} * (1200.0 / 630.0) - 30px);
    }
}

.ogp-title {
    font-size: 1.0rem;
    margin: 0;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;

    @include mq(sm) {
        margin-bottom: 7px;
        font-size: 1.2rem;
    }

    @include mq(md) {
        margin-bottom: 10px;
        font-size: 1.5rem;
    }
}

.ogp-domain {
    margin: 0;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;

    @include mq(sm) {
        margin-bottom: 3px;
    }

    @include mq(md) {
        margin-bottom: 5px;
    }
}

.ogp-description {
    margin: 0;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;

    @include mq(md) {
        -webkit-line-clamp: 4;
    }
}

.ogp-url {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: $ogp-card-size;

    @include mq(sm) {
        height: $ogp-card-size-sm;
    }

    @include mq(md) {
        height: $ogp-card-size-md;
    }
}
