// sass/components/_svg-icon-btn.scss

.svg-icon-btn {
    height: $btn-size;
    width: $btn-size;
    border-radius:$btn-size;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        height: $svg-icon-size;
        width: $svg-icon-size;
        fill: currentColor;
    }
}

.svg-icon-btn:hover {
    background-color: var(--btn-hover-color);
}

.svg-icon-btn:active {
    background-color: var(--btn-active-color);
}
