// sass/components/_switch-btn.scss

.switch-btn {
    transition: .3s
}

.switch-btn>.dark-mode {
    display: none;
}

#theme-switch-checkbox:checked~#page .switch-btn {
    >.light-mode {
        display: none;
    }

    >.dark-mode {
        display: block;
    }
}
