{% macro iframe(url, width, height, title="") -%}
<div class="iframe-container">
    <p>Now loading...</p>
    <iframe class="iframe" title="{{ title }}" src="{{ url | safe }}" width="{{ width }}"
        height="{{ height }}" scrolling="no" onload="this.previousElementSibling.remove();" async>
    </iframe>
</div>
{% endmacro iframe -%}
