{% macro ogp_card(url, id, style="small") %}

<div class="ogp-card {{style}}-card" id="{{ id }}">
    <img class="ogp-image {{style}}-card-image">
    <div class="ogp-text-container {{style}}-card-text-container">
        <p class="ogp-title"></p>
        <p class="ogp-domain"></p>
        <p class="ogp-description"></p>
    </div>
    <a class="ogp-url" target="_blank" rel="noopener"></a>
</div>

<script>
    setOGPs("{{ url | safe }}", "{{ id | safe }}");
</script>
{% endmacro ogp_card %}
