{# templates/about.html #}

{% extends "layouts/base.html" %}

{% block content %}
<h1 class="title" style="font-weight: 400;">
    ぺるぺるについて
</h1>
<p>ぺるぺると申します。主にイラスト制作・ゲーム開発・曲作りをしています。</p>
<p>よろしくお願いします。</p>
{% endblock content %}
