{% extends "layouts/base.html" %}

{% block content %}
<h1 class="title">
    {{ page.title }}
</h1>
<p class="subtitle"><strong>{{ page.date }}</strong></p>
{{ page.content | safe }}
{% endblock content %}
