{% extends "layouts/base.html" %}

{% block content %}
<h1 class="title">
    {{ section.title }}
</h1>
<ul class="artwork-section-cards">
    {% for page in section.pages %}
    <div class="artwork-section-card">
        <a href="{{ page.permalink | safe }}" title="{{ page.title }}">
            <img class="artwork-section-img" src="/assets/images/artwork/{{page.extra.thumbnail | safe}}">
        </a>
    </div>
    {% endfor %}
</ul>
{% endblock content %}
