{% extends "layouts/base.html" %}

{% block content %}
<h1 class="title">
    {{ page.title }}
</h1>
<p class="subtitle"><strong>{{ page.date }}</strong></p>

{% if page.extra.file %}
    <div class="artwork-page-card">
        <img class="artwork-page-img" src="/assets/images/artwork/{{page.extra.file | safe}}">

    </div>
{% endif %}
{{ page.content | safe }}
{% endblock content %}
