{% extends "layouts/base.html" -%}
{% import "macros/ogp_card.html" as ogp_card_macros -%}
{% import "macros/iframe.html" as iframe_macros -%}

{% block content -%}
<h1 class="title">
    {{ page.title }}
</h1>
<p class="subtitle"><strong>{{ page.date }}</strong></p>

{% if page.extra.url -%}
{% set width = page.extra.width | default(value=1300) -%}
{% set height = page.extra.height | default(value=745) -%}

{{ iframe_macros::iframe(url=page.extra.url | safe, width=width, height=height) }}

{{ ogp_card_macros::ogp_card(url=page.extra.home_url | safe, id=page.title | slugify) }}

{% endif -%}
{{ page.content | safe }}
{% endblock content -%}
