{% extends "layouts/base.html" %}

{% block content %}
<h1 class="title">
    {{ section.title }}
</h1>

{% for subsection_string in section.subsections %}
<div class="works-card">
    {% set subsection = get_section(path=subsection_string) %}
    <a class="works-page-link" href="{{ subsection.permalink | safe }}">{{ subsection.title }}</a>
</div>
{% endfor %}

{% endblock content %}
